body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-top: 1%;
}
.card-sidebar{
  height:96vh;
  max-width: 100%;
  border-radius: 0px;
  -webkit-box-shadow: 4px 4px 10px 3px rgba(181,181,181,0.91) ;
box-shadow: 4px 4px 10px 3px rgba(181,181,181,0.91) ;
}
.profile-img-style{
  max-width: 30%;
  Height: auto;
  margin-top: 10%;
}
.title-custom{
  font-size: 25px;
}
.designation{
  background-color: #1d8ae6;
font-size: 15px;
color: white;
}
