body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-top: 1%;
}
.card-sidebar{
  height:96vh;
}
.profile-img-style{
  max-width: 30%;
  Height: auto;
  margin-top: 12%;
}
